body, ::after, ::before {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: Calibri, sans-serif;
}

body {

    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.container, .container2, .container3 {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

li {

    position: relative;
    list-style-type: none;

    height: 70px;
    width: 140px;
    margin: 25px;

    line-height: 70px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #dddddd;

    letter-spacing: 5px;

   

    transition: all 0.2s linear;
    
    cursor: pointer;
}

.container li {

     background-color: rgb(5, 94, 167);

}

.container li::after {
    content: "";
    position: absolute;
    top: 0px;
    left: -10px;
    width: 0px;
    height: 0px;

    color: green;

    
    border-top: 2.5px solid rgb(39, 79, 189);
    border-top-left-radius: 3px;



    transition: all 0.2s linear;
}

.container li::before {
    content: "";
    position: absolute;
    bottom: 0px;
    right: -10px;
    width: 0px;
    height: 0px;


    color: green;

    border-bottom: 2.5px solid rgb(39, 79, 189);
    border-bottom-right-radius: 3px;
    

    transition: all 0.2s linear;

}


.container li:hover::before, li:hover::after {

    width: 10px;
    height: 10px;

}

.container li:hover {

    background-color: rgb(39, 79, 189);
    color: white;

    
}

.container2 li {


    color: #333;
    transition: all 0.2s linear;

    
    border-top: 0.5px solid transparent;
    border-top-width: 8px;
    border-bottom: 0.5px solid transparent;
    border-bottom-width: 8px;
}

.container2 li:hover {

    border-top: 0.5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);

    color: rgba(51, 51, 51, 0.7);

}

.container3 li {


    opacity: 1;
    color: black;
    z-index: 1;
}

.container3 li::after {
position: absolute;
top: 0;
left: 0;
width: 0;
height: 100%;
content: "";
background-color: rgb(255, 102, 0);
opacity: 0.8;

z-index: -1;

transition: 0.2s ease-in-out;

}

.container3 li:hover::after {

    width: 100%;

}

.container3 li:hover {

    color: white;

}